Body {
    background: rgb(47, 0, 133);
    background: linear-gradient(0deg, rgba(47, 0, 133, 1) 15%, rgba(176, 87, 252, 1) 100%);
}

li {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    background-color: rgb(211, 209, 204);
}

h1 {
    padding: 20px;
    margin: 50px;
    background-color: rgb(211, 209, 204);
}
