Body {
    background: rgb(47, 0, 133);
    background: linear-gradient(0deg, rgba(47, 0, 133, 1) 15%, rgba(176, 87, 252, 1) 100%);
    background-repeat: no-repeat;
    height: 100%
}

html {
    height: 100%;
}

li {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    background-color: rgb(170, 196, 153);
}

h1 {
    padding: 50px;
    margin: 25%;
    background-color: rgb(146, 170, 185);
    border: 2px solid rgb(216, 213, 198);
    border-radius: 1em;
    vertical-align: middle;
    text-align: center;

}
